/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
.mobil-menu, .mobil-emblem, .mobil-card {
    display:none;
    
    }

@media only screen and (max-width : 758px){
    .mobil-menu, .mobil-emblem, .mobil-card{
    display:block;
    margin:10px 0;
    }
    .container{
        width:100%;
        }
    .material-icons{
        border-radius:35%;
        padding:0 10px;
        color: white;
        }
    .slider, .menu, .card{
        display:none;
        }   
        
    .mobil-card{
        border:solid 2px #4db6ac;
        border-radius: 5px;
        background:#fff;
        padding:5px 10px;
        }
}

.news{
    padding:5px 10px;
    }
    
nav ul a,
nav .brand-logo {
  color: #fff;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #039be5;
}

.parallax-container {
  min-height: 200px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}


@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}



.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}



.portfolio .col
{
	margin-bottom: 24px;
}

.portfolio h4
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.portfolio h5
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.portfolio h6
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 45px;
}

.portfolio hr
{
	width: 40px;
	margin-bottom: 45px;
}

.portfolio .portfolio-holder
{
	clear: both;
	text-align: center;
}

.portfolio img
{
	width: 33%;
	display: inline-block;
	float: left;
}



.navigationactionbarcontentscreentitle
 {
    position: absolute;
    color: #000000;
    font-weight:bold;
    display: inline-block;
    padding: 0; 
    left: 0;
    width: 100%;
    text-align: right; 
    z-index: 0; 
	 font-size: 1.24rem;
  line-height: 1.804rem;
  margin: 1.2rem 0 0.656rem 0; 
	text-transform: uppercase;
	
} 

.myborder
{
	
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); 
}

.social-links {
    margin: 10px;
}

.social-icons {
    font-size:32px;
  }
  
  #social-icons {
    margin-top: 35px;
}

#social-icons a {
    text-decoration: none;
}


.card-title{
    background:white;
    text-shadow:1px 1px 15px white, 0em 0em 3em #fff, 0em 0em 1em #fff; 
    }
    
#ss{
    background:#fff;
    width:5em;
    height:2em;
    }    
    
    
.ss-search-form {
    background:#fff;
    position: relative;
    z-index:9999;
}
.ss-search-form__results {
    background:#fff;
    display: none;
    position: absolute;
    left: 0;
    top: 35px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}
.ss-search-form__results--visible {

    display: block;
}
.ss-result {

    margin-bottom: 2em;
}
.ss-result__aside {

    float: right;
    margin-left: .5em;
}
.ss-result__title {

    font-weight: bold;
    margin-bottom: .5em;
}
.ss-result__badge {

    font-size: .7em;
    padding: .2em .5em;
    border-radius: 4px;
    margin-left: .75em;
    background: #eee;
    display: inline-block;
}
.ss-result__text {

    margin-bottom: .5em;
}

.ss-search-form__input{
    background:#fff;
    }
.ss-search-form__submit{
    background:blue;
    }
    }