==
<footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Реклама</h5>
          <p class="grey-text text-lighten-4">Новостной портал города Кривого Рога предлагает площадку к размещению рекламы</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Для бизнеса</h5>
          <ul>
            <li><a class="white-text" href="#!">Объявления</a></li>
            <li><a class="white-text" href="#!">Статьи</a></li>
            <li><a class="white-text" href="#!">Партнерская программа</a></li>
            <li><a class="white-text" href="#!">Франшиза</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Поддержка</h5>
          <ul>
            <li><a class="white-text" href="#!">Промо</a></li>
            <li><a class="white-text" href="#!">Акции</a></li>
            <li><a class="white-text" href="#!">Партнеры</a></li>
            <li><a class="white-text" href="#!">Контакты</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
    
      <div class="container">
      © 2021 Copyright
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">GRD studio</a>
      </div>
    </div>
  </footer>